body {
    background-color: #d6eaf2;
    width: 80%;
    margin: auto;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px black solid; */
    margin: 5px;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    flex-direction: row;
}

table {
    min-width: 200px;
}

table, tr, td, input[type="color"] {
    margin: 0;
    padding: 0;
}

td button {
    width: 100%;
}

input[type="range"] {
    min-width: 200px;
}

button {
    background-color: #fdcace88;
    border: 3px solid #661e2a88;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #fdcaceff;
    border: 3px solid #661e2aff;
}

span {
    display: flex;
    justify-content: center
}

.slider {
    -webkit-appearance: none;
    height: 4px;
    background: rgb(179, 179, 179);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin:8px;
    border-radius: 4px;
  }

  .slider-hue {
    background: linear-gradient(180deg, #6e40aa, #be3caf, #fe4b83, #ff7747, #e3b62f, #b0ef5a, #53f666, #1edfa2, #23acd8, #4c6fdc, #4c6fdc);

  }

  .slider-saturation {
    background: linear-gradient(90deg, #888, #ff2929);
  }

  .slider-saturation-gooey {
    background: linear-gradient(90deg, #888, #2d29ff);
  }

  .slider-brightness {
    background: linear-gradient(90deg, #000, #fff);
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border: 0;
    background: url('kirby-icon.png');
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border: 0;
    background: url('kirby-icon.png');
    cursor: pointer;
  }


  .gooey-button {
    background-color: #13248ebb;
    border: 3px solid #132438bb;
    color:white;

  }


  .gooey-button:hover {
    background-color: #13248eff;
    border: 3px solid #132438ff;
    color:white;

  }

  .gooey-slider::-webkit-slider-thumb {
    background: url('gooey-icon.png');
  }
  
  .gooey-slider::-moz-range-thumb {
    background: url('gooey-icon.png');
  }